div
{
  margin: 0;
  padding: 0;
  height: 135px;
}
#Red
{
  background-color: Red;
}
#Blue
{
  background-color: Blue;
}
#Yellow
{
  background-color: Yellow;
}
#Blue
{
  background-color: Blue;
}
#Black
{
  background-color: Black;
}
#White
{
  background-color: White;
}
#Orange
{
  background-color: Orange;
}
#Purple
{
  background-color: Purple;
}
#Teal
{
  background-color: Teal;
}
#Indigo
{
  background-color: Indigo;
}
#Grey
{
  background-color: Grey;
}
#Green
{
  background-color: Green;
}
#Pink
{
  background-color: Pink;
}
#Gold
{
  background-color: Gold;
}
#Mayenta
{
  background-color: #FF00FF;
}
#Burgundy
{
  background-color: #800020;
}
